@model TestimonialAddDto
@{
    ViewData["Title"] = "NewTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Referans</h1>
<br />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <span>Referans</span>
        <input type="text" class="form-control" asp-for="Company" placeholder="Referans Giriniz" />
        <br />
        <span>İçerik</span>
        <input type="text" class="form-control" asp-for="Content" placeholder="İçerik Giriniz" />
        <br />
        <span>Tip (Müşteri)</span>
        <input type="text" class="form-control" asp-for="Type" placeholder="Tip Giriniz" />
        <br />
        <span>Görsel</span>
        <input type="file" class="form-control" asp-for="Picture" placeholder="Dosya Seçiniz" />
        <br />
        <input type="submit" class="btn btn-info" value="Değişiklikleri Kaydet" />
    </form>
</div>

