@model List<Product>

@foreach (var Product in Model)
{
    <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
            <div class="menu-img img" style="background-image: url(/Images/@Product.Image);"></div>
            <div class="text d-flex align-items-center">
                <div>
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>@Product.Title</h3>
                        </div>
                    </div>
                    <p><span>@Product.Content</span> </p>
                    <span style="color: orangered">@Product.Detail</span>
                </div>
            </div>
        </div>
    </div>
}