@model ManagerEditDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Profilim</h1>
<br />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" class="form-control" asp-for="Id"/>
        <span>Kullanıcı Adı</span>
        <input type="text" class="form-control" asp-for="UserName" readonly/>
        <span>Parola</span>
        <input type="text" id="test-input" class="form-control" asp-for="Password" placeholder="Parolanızı Giriniz" />
        <input type="checkbox" id="check" checked /> <span>Parolayı Göster</span>
        <br />
        <br />
        <input type="submit" class="btn btn-info" value="Değişiklikleri Kaydet" />
    </form>
</div>
<br />
@if (ViewBag.success != null)
{
    <div class="alert alert-success">
        @ViewBag.success
    </div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $('#check').click(function(){
            $(this).is(':checked') ? $('#test-input').attr('type', 'text') : $('#test-input').attr('type', 'password');
        });
    });
</script>
