
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zesu Çorap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="Resim/Sck2.png" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Template/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/css/animate.css">

    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Template/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Template/css/aos.css">

    <link rel="stylesheet" href="~/Template/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Template/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Template/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Template/css/flaticon.css">
    <link rel="stylesheet" href="~/Template/css/icomoon.css">
    <link rel="stylesheet" href="~/Template/css/style.css">
</head>
<body>
    <div class="py-1 bg-black top">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>


                                    <span class="text"><%#Eval("Telefon")%></span>


                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>


                                    <span class="text"><%#Eval("Mail")%></span>


                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">


                                    <p class="mb-0 register-link"><span><%#Eval("Saat")%></span></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

                    <a class="navbar-brand" href="Kurumsal.aspx"><%#Eval("Baslik")%></a>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                            <li class="nav-item "><a href="Kurumsal.aspx" style="font-size: 17px" class="nav-link"><%#Eval("Baslik")%></a></li>


                            <li class="nav-item"><a href="Hakkimda.aspx" style="font-size: 17px" class="nav-link"><%#Eval("Baslik")%></a></li>


                            <li class="nav-item"><a href="Urunlerimiz.aspx" style="font-size: 17px" class="nav-link"><%#Eval("Baslik")%></a></li>


                            <li class="nav-item"><a href="Iletisim.aspx" style="font-size: 17px" class="nav-link"><%#Eval("Baslik")%></a></li>


                            <li class="nav-item cta"><a href="Ticaret.aspx" class="nav-link"><%#Eval("Baslik")%></a></li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    @RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2"><%#Eval("Baslik")%></h2>
                                <p><%#Eval("Aciklama")%></p>


                                <a href="Kurumsal.aspx" style="margin-right: 50px"><%#Eval("Baslik")%></a>


                                <a href="Hakkimda.aspx" style="margin-right: 50px"><%#Eval("Baslik")%></a>


                                <a href="Urunlerimiz.aspx" style="margin-right: 50px"><%#Eval("Baslik")%></a>



                                <a href="Iletisim.aspx" style="margin-right: 50px"><%#Eval("Baslik")%></a>



                                <a href="Ticaret.aspx" style="margin-right: 50px"><%#Eval("Baslik")%></a>


                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="http://twitter.com" target="_blank"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/zesu.corap" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://instagram.com/zesucorap?utm_medium=copy_link" target="_blank"><span class="icon-instagram"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.linkedin.com/company/zesusocks/" target="_blank"><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Açık Saatler</h2>
                        <ul class="list-unstyled open-hours">
                            <li class="d-flex"><span>Pazartesi</span><span>08:00 - 18:00</span></li>
                            <li class="d-flex"><span>Salı</span><span>08:00 - 18:00</span></li>
                            <li class="d-flex"><span>Çarşamba</span><span>08:00 - 18:00</span></li>
                            <li class="d-flex"><span>Perşembe</span><span>08:00 - 18:00</span></li>
                            <li class="d-flex"><span>Cuma</span><span>08:00 - 18:00</span></li>
                            <li class="d-flex"><span>Cumartesi</span><span>08:00 - 13:00</span></li>
                            <li class="d-flex"><span>Pazar</span><span>Kapalı</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vitrin</h2>
                        <div class="thumb d-sm-flex">
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Lays.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Melek.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Sosis.jpg);"></a>
                        </div>
                        <div class="thumb d-flex">
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Surat.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Adidas.jpg);"></a>
                            <a href="#" class="thumb-menu img" style="background-image: url(Resim/Erkek.jpg);"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">LinkedIn</h2>
                        <p>
                            LinkedIn Profilimize Buradan -> <i class="ftco-animate"><a href="https://www.linkedin.com/company/zesusocks/" target="_blank"><span class="icon-linkedin"></span></i>
                        </p>
                        <p>Erişebilirsiniz </p>
                        <img src="Resim/Zesu.png" style="width: 300px; height: 150px;" />


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        Tüm Hakları Saklıdır | Designed  <i class="icon-clock-o" aria-hidden="true"></i> by <a href="Kurumsal.aspx" target="_blank">Zesu Corporation.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Template/js/popper.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/jquery.easing.1.3.js"></script>
    <script src="~/Template/js/jquery.waypoints.min.js"></script>
    <script src="~/Template/js/jquery.stellar.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/js/aos.js"></script>
    <script src="~/Template/js/jquery.animateNumber.min.js"></script>
    <script src="~/Template/js/bootstrap-datepicker.js"></script>
    <script src="~/Template/js/jquery.timepicker.min.js"></script>
    <script src="~/Template/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Template/js/google-map.js"></script>
    <script src="~/Template/js/main.js"></script>

</body>
</html>

