@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<partial name="~/Views/Shared/UILayoutPartials/_Head.cshtml" />
<body>
    <partial name="~/Views/Shared/UILayoutPartials/_Header.cshtml" />
    <partial name="~/Views/Shared/UILayoutPartials/_Navbar.cshtml" />
    @RenderBody()
    <partial name="~/Views/Shared/UILayoutPartials/_Footer.cshtml" />
    <partial name="~/Views/Shared/UILayoutPartials/_Script.cshtml" />
</body>
</html>

