@model List<Testimonial>
@foreach (var Testimonial in Model)
{
    <div class="item">
        <div class="testimony-wrap text-center pb-5">
            <div class="user-img mb-4" style="background-image: url(/Images/@Testimonial.Image)">
                <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                </span>
            </div>
            <div class="text p-3">
                <p class="mb-4">@Testimonial.Content</p>
                <p class="name">@Testimonial.Company</p>
                <span class="position">@Testimonial.Type</span>
            </div>
        </div>
    </div>
}