@model CarouselEditDto
@{
    ViewData["Title"] = "EditCarousel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Carousel Düzenle</h1>
<br />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" class="form-control" asp-for="Id"/>
        <span>Başlık</span>
        <input type="text" class="form-control" asp-for="Title" placeholder="Başlık Giriniz" />
        <br />
        <span>İçerik</span>
        <input type="text" class="form-control" asp-for="Content" placeholder="İçerik Giriniz" />
        <br />
        <span>Görsel</span>
        <input type="file" class="form-control" asp-for="Picture" placeholder="Dosya Seçiniz" />
        <br />
        <input type="submit" class="btn btn-info" value="Değişiklikleri Kaydet" />
    </form>
</div>
