<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">

        <a class="navbar-brand" href="~/Main/Index">Ze - Su Çorap</a>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a href="~/Main/Index" style="font-size: 17px" class="nav-link">Kurumsal</a></li>
                <li class="nav-item"><a href="~/Main/About" style="font-size: 17px" class="nav-link">Hakkımızda</a></li>
                <li class="nav-item"><a href="~/Main/Product" style="font-size: 17px" class="nav-link">Ürünler</a></li>
                <li class="nav-item"><a href="~/Main/Contact" style="font-size: 17px" class="nav-link">Bize Ulaşın</a></li>
            </ul>
        </div>
    </div>
</nav>